html, body, .react__root, .chat {
  height: 100%;
}

body {
  margin: 0px;
}

.chat {
  display: flex;
  flex-direction: row;
}

.chat__area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
