.text-bar {
  padding: 10px;
  display: flex;
  input {
    width: 100%;
    height: 40px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 18px;
    font-family: monospace;
    color: #929292;
    padding: 0px 10px;
  }
}
